<div class="container text-center">
    <h2 class="title inline"><%= @job.title %></h2><h3 class="inline">&nbspat&nbsp</h3><h2 class="title inline"><%= @job.company %></h2>
</div>

<div class="container pull-right">
  <% @job.milestones.each do |milestone| %>
    <%= milestone.title %>
    <%= check_box_tag :status, milestone.status %>
  <% end %>
</div>
