  <div class="jumbotron title">
    <h1 class="text-center">Welcome to Glass Mirror</h1>
  </div>
  <div class="container text-center">
    <h3>Please</h3>
  </div>
  <br>
  <div class="text-center">
    <div class="inline"><%= button_to "Sign Up", new_user_path, method: :get, class: "btn btn-lg btn-splash" %></div>
    <h4 class="inline" >or</h4>
    <div class="inline"><%= button_to "Log In", new_session_path, method: :get, class: "btn btn-lg btn-splash" %></div>
  </div>
