/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

.icon {
  padding-top: 1%;
}

.btn-add {
  background: white;
  color: #2199E2;
  border: solid 1px #2199E2;
  font-weight: 600;
}

.job-container {
  margin-top: 3%;
  padding: 1%;
  width: 70%;
}

.form-horizontal {
 width: 30%;
}

.form-container {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.splash-btn {
 display: inline-block;
}
