/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *= require_tree .
 *= require_self
 */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js");

#mil-title-form {
  width: 60%;
}

#mil-status-form {
  width: 5%;
  margin-right: 14%;
  margin-top: 2%
}

.icon {
  padding-top: 1%;
}

.icon-job {
  padding-top: 3%;
}

.hr {
  margin: 4px 0px 4px 0px;
}

#mil-info {
  background-color: #F5FAFE;
  width: 99%;
}

#job-info {
  background-color: #F5FAFE;
  width: 99%;
  margin-bottom: 0%;
}

#contact-info {
  background-color: #F5FAFE;
  width: 99%;
  margin-top: 4%;
}

.job-container {
  margin-top: 3%;
  padding: 1%;
  width: 60%;
}

.sub-title {
  margin-top: 1%;
  margin-bottom: 0%;
}

.panel-heading {
  padding: 0px 2px 0px 10px;
}

.inline {
  display: inline-block;
}

.btn-add {
  background: white;
  color: #2199E2;
  border: solid 1px #2199E2;
  font-weight: 600;
}

.form-horizontal {
 width: 30%;
}

.form-container {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.splash-btn {
 display: inline-block;
}
