/*
 * app/assets/stylesheets/application.css
 */

/*
 * ...
 *= require_tree .
 *= require bootstrap-3.3.6.min.css
 *= require_self
 */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js");

body {
  background-color: #F0F4F7;
}

.title {
  font-size: 40px;
  color: #455A64;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Raleway', sans-serif;
}

.accent-text {
  color: #185F78;
}

.prim-text {
  color: #B00000;
}

.sec-text {
  color: #757575;
}

.accent-text:visited {
  color: #185F78;
}

#mil-title-form {
  width: 60%;
  margin-bottom: 2%;
}

#mil-status-form {
  width: 5%;
  margin-right: 14%;
  margin-top: 3%
}

.icon {
  padding-top: 1%;
}

.icon-job {
  padding-top: 3%;
}

.hr {
  margin: 4px 0px 4px 0px;
}

.well {
  background-color: #E0F2F1;
  padding: 2% 7% 2% 7%;
}

#mil-info {
  width: 90%;
}

#job-info {
  width: 99%;
  margin-bottom: 0%;
}

#contact-info {
  width: 99%;
  margin-top: 4%;
}

.show-container {
  margin-top: 3%;
  padding: 1%;
  width: 65%;
}

.job-container {
  margin-top: 3%;
  padding: 1%;
}

.sub-title {
  margin-top: 1%;
  margin-bottom: 0%;
}

.panel-heading {
  padding: 0px 2px 0px 10px;
}

.panel-body {
  padding: 10px 10px 0px 10px;
}

.inline {
  display: inline-block;
}

.btn-add {
  background: white;
  color: #455A64;
  border: solid 1px #455A64;
  font-weight: 600;
}

.btn-add:hover, .btn-add:focus, .btn-add:active, .btn-add.active, .open > .dropdown-toggle.btn-add {
  color: white;
  background: #455A64;
}

.btn-back {
  background: white;
  color: #4DB6AC;
  border: solid 1px #4DB6AC;
  font-weight: 600;
}

.btn-back:hover, .btn-back:focus, .btn-back:active, .btn-back.active, .open > .dropdown-toggle.btn-back {
  color: white;
  background: #4DB6AC;
}

.sub-btn {
  width: 100px;
  background: white;
  color: #455A64;
  border: solid 1px #455A64;
  font-weight: 600;
}

.sub-btn:hover, .sub-btn:focus, .sub-btn:active, .sub-btn.active, .open > .dropdown-toggle.sub-btn {
  color: white;
  background: #455A64;
}

.btn-splash {
  background: #F0F4F7;
  color: #4DB6AC;
  border: solid 1px #4DB6AC;
  font-weight: 800;
  font-size: 18px;
  width: 120px;
  padding: 7%;
}

.btn-splash:hover, .btn-splash:focus, .btn-splash:active, .btn-splash.active, .open > .dropdown-toggle.btn-splash {
  color: white;
  background: #4DB6AC;
}

.prof-btns {
  margin-left: 7%;
}

.form-horizontal {
 width: 30%;
}

.form-container {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: #CFD8DC;
}

.navbar .nav > li > a {
  color: #455A64;
}

#nav-title {
  color: #455A64;
}
